.formContainer {
    width: 99%;
    max-width: 1200px;
    margin: auto;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tabMenu {
    list-style-type: none;
    padding: 0;
    display: flex;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}

    .tabMenu li {
        padding: 10px 20px;
        cursor: pointer;
    }

    .tabMenu .active {
        border-bottom: 2px solid #007bff;
        font-weight: bold;
    }

.formSection {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.formGroup {
    flex: 1 1 calc(25% - 20px);
    min-width: 200px;
}

    .formGroup label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
    }

    .formGroup input {
        width: calc(100% - 50px);
        padding: 5px;
        margin-right: 5px;
    }

.formButtons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.discardButton, .saveButton {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.discardButton {
    background-color: #ccc;
    color: #333;
}

.saveButton {
    background-color: #007bff;
    color: #fff;
}
