.tabs-item {
    align-items: center;
    border-bottom-style: solid;
    display: inline-flex;
    gap: 8px;
    justify-content: center;
    padding: 8px 15px;
    position: relative;
}

    .tabs-item .text {
        align-items: flex-start;
        display: inline-flex;
        flex: 0 0 auto;
        position: relative;
    }

    .tabs-item .tab-name {
        font-size: 13px;
        letter-spacing: 0;
        line-height: 20px;
        margin-top: -1px;
        position: relative;
        white-space: nowrap;
        width: fit-content;
    }

    .tabs-item.default {
        border-bottom-width: 0px;
        border-color: #d6deea;
    }

    .tabs-item.active {
        border-bottom-width: 2px;
        border-color: #333333;
    }

    .tabs-item.default .tab-name {
        color: #555555;
        font-family: "Be Vietnam Pro-Regular", Helvetica;
        font-weight: 400;
    }

    .tabs-item.active .tab-name {
        color: #333333;
        font-family: "Be Vietnam Pro-SemiBold", Helvetica;
        font-weight: 600;
    }
